<html>
    <head>
        <meta name="description" content="blaaaaaaaaaaa" />
        <meta name="keywords" content="bla,bla,bla" />

        <title>
            $title
        </title>
    </head>

    <body>
        <h1>
            $title
        </h1>
        
        $content
    </body>
</html>
