<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		
        <link rel="stylesheet" href="../css/layout.css" />
		
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script src="../js/news_search.js"></script>
		<script src="../js/maps.js"></script>
                
		<title>
			$title
		</title>
	</head>
	<body>
		<div id="menu">
			<ul>
				<li>
					<a href="index">Home</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
				<li>
					<a href="#">F.A.Q.</a>
				</li>
			</ul>
		</div>
           	<p>Met deze applicatie kunt u nieuws zoeken door een gebied te selecteren op de kaart. Dit selecteren doet u door een punt te kiezen op de kaart, de linker muisknop ingedrukt te houden en te slepen tot het gebied groot genoeg is. Zodra u de linker muisknop los laat wordt er naar nieuws gezocht. Het is helaas niet mogelijk om de kaart te slepen, als u naar een andere gebied wilt kunt u dit doen door in en uit te zoomen. In en uit zoomen kan door op de kaart naar boven en beneden te scrollen.</p>
		<div id="wrapper">
			<div id="map-canvas">
			</div>
			<div id="results">
                <br />
				$content
			</div>
		</div>
	</body>
</html>
